/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand-1: #f06292;
  --vp-c-brand-light: #ff94c2;
  --vp-c-brand-lighter: #f7cee0;
  --vp-c-brand-dark: #ba2d65;
  --vp-code-block-bg: #f6f8fa;
  --vp-code-copy-code-bg: #dedede;
  --vp-code-copy-code-hover-bg: #dedede;
  --vp-c-text-dark-2: #8f8f8f;
  --vp-c-text-dark-3: #8f8f8f;
  --vp-sidebar-bg-color: var(--vp-c-bg);
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-nav-bg-color: color-mix(in srgb, var(--vp-c-bg) 95%, transparent);
  --vp-custom-block-tip-bg: #ecfdf5;
  --vp-custom-block-tip-border: #dcfce7;
  --vp-custom-block-tip-text: #15803d;
  --vp-c-brand-nav-active: color-mix(
    in srgb,
    var(--vp-c-brand-light) 15%,
    transparent 100%
  );
  --vp-nav-logo-height: 28px;
}

.dark {
  --vp-c-bg: #0f172a;
  --vp-c-bg-alt: #111827;
  --vp-c-bg-soft: #1e293b;
  --vp-c-divider: #334155;
  --vp-code-block-bg: #1e293b;
  --vp-c-bg-alpha-with-backdrop: #1f2937bf;
  --vp-code-copy-code-bg: #273345;
  --vp-code-copy-code-hover-bg: #273345;
  --vp-c-text-dark-2: #8a8a8a;
  --vp-c-text-dark-3: #8a8a8a;
  --vp-custom-block-tip-bg: #064e3b;
  --vp-custom-block-tip-border: #052e16;
  --vp-custom-block-tip-text: #f0fdf4;
  --vp-c-brand-nav-active: color-mix(
    in srgb,
    var(--vp-c-brand-dark) 30%,
    transparent 100%
  );
}

html,
body {
  background-color: var(--vp-c-bg) !important;
}

strong {
  color: var(--vp-c-brand-1);
}

button.copy::after {
  top: 0;
  width: 40px;
  height: 40px;
  color: var(--vp-icon-copy);
  background-size: contain;
}

.vp-doc img {
  margin: 8px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.vp-doc table {
  margin: 20px auto;
  display: table;
  width: auto;
  max-width: 100%;
}


.simple-tag {
  margin: 0 0.125em 0.333em 0;
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border-radius: 2em;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 22px;
  color: var(--vp-c-brand-1);
  background-color: var(--vp-c-brand-lighter);
  border: 1px solid transparent;
  cursor: pointer;
}

.simple-tag:hover {
  color: #ffffff;
  background-color: var(--vp-c-brand-1);
}

.mermaid {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'Maple Mono CN SemiBold', monospace;
}